# Replace NA with 365

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score as acc
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
data = pd.read_csv("FinalNewVariables.csv")
#file that after features creation and with NA values, and we will replace NA with 365 now

In [26]:
dataFraudLabel = pd.read_csv("applications data.csv")

In [41]:
dataFraudLabel.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,2765,19070626,1797504115,0
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,3173,19980315,6101082272,0

In [42]:
dataFraudLNew = dataFraudLabel.drop(columns = ['date','ssn','firstname','lastname','address','zip5','dob','homephone'])

In [43]:
dataFraudLNew.head()

   record  fraud_label
0       1            0
1       2            1
2       3            0
3       4            0
4       5            0

In [10]:
data.isnull().sum()

Unnamed: 0                              0
record                                  0
diff_date.ssn                      835819
diff_date.fulladdress              845066
diff_date.nameDOB                  848150
diff_date.homephone                 28244
diff_date.ssn_fulladdress          860142
diff_date.ssn_firstname            854398
diff_date.ssn_lastname             854446
diff_date.ssn_nameDOB              856624
diff_date.ssn_homephone            857519
diff_date.fulladdress_firstname    858899
diff_date.fulladdress_lastname     857801
diff_date.fulladdress_nameDOB      859957
diff_date.fulladdress_homephone    855637
diff_date.firstname_lastname       981892
diff_date.firstname_nameDOB        984031
diff_date.firstname_homephone      979701
diff_date.lastname_nameDOB         963974
diff_date.lastname_homephone       961158
diff_date.nameDOB_homephone        858581
ssn_risk                                0
fulladdress_risk                        0
nameDOB_risk                            0
homephone_risk                          0
ssn_fulladdress_risk                    0
ssn_nameDOB_risk                        0
ssn_homephone_risk                      0
ssn_firstname_risk                      0
ssn_lastname_risk                       0
                                    ...
ssnfirstname0                           0
ssnfirstname1                           0
ssnfirstname3                           0
ssnfirstname7                           0
ssnfirstname14                          0
ssnfirstname30                          0
ssnlastname0                            0
ssnlastname1                            0
ssnlastname3                            0
ssnlastname7                            0
ssnlastname14                           0
ssnlastname30                           0
nameDOBhomephone0                       0
nameDOBhomephone1                       0
nameDOBhomephone3                       0
nameDOBhomephone7                       0
nameDOBhomephone14                      0
nameDOBhomephone30                      0
fulladdresshomephone0                   0
fulladdresshomephone1                   0
fulladdresshomephone3                   0
fulladdresshomephone7                   0
fulladdresshomephone14                  0
fulladdresshomephone30                  0
fulladdressnameDOB0                     0
fulladdressnameDOB1                     0
fulladdressnameDOB3                     0
fulladdressnameDOB7                     0
fulladdressnameDOB14                    0
fulladdressnameDOB30                    0
Length: 103, dtype: int64

In [4]:
data.shape

(1000000, 103)

In [14]:
data2 = data.iloc[:,1:]

In [18]:
data2.dtypes

record                               int64
diff_date.ssn                      float64
diff_date.fulladdress              float64
diff_date.nameDOB                  float64
diff_date.homephone                float64
diff_date.ssn_fulladdress          float64
diff_date.ssn_firstname            float64
diff_date.ssn_lastname             float64
diff_date.ssn_nameDOB              float64
diff_date.ssn_homephone            float64
diff_date.fulladdress_firstname    float64
diff_date.fulladdress_lastname     float64
diff_date.fulladdress_nameDOB      float64
diff_date.fulladdress_homephone    float64
diff_date.firstname_lastname       float64
diff_date.firstname_nameDOB        float64
diff_date.firstname_homephone      float64
diff_date.lastname_nameDOB         float64
diff_date.lastname_homephone       float64
diff_date.nameDOB_homephone        float64
ssn_risk                           float64
fulladdress_risk                   float64
nameDOB_risk                       float64
homephone_risk                     float64
ssn_fulladdress_risk               float64
ssn_nameDOB_risk                   float64
ssn_homephone_risk                 float64
ssn_firstname_risk                 float64
ssn_lastname_risk                  float64
nameDOB_homephone_risk             float64
                                    ...
ssnfirstname0                        int64
ssnfirstname1                        int64
ssnfirstname3                        int64
ssnfirstname7                        int64
ssnfirstname14                       int64
ssnfirstname30                       int64
ssnlastname0                         int64
ssnlastname1                         int64
ssnlastname3                         int64
ssnlastname7                         int64
ssnlastname14                        int64
ssnlastname30                        int64
nameDOBhomephone0                    int64
nameDOBhomephone1                    int64
nameDOBhomephone3                    int64
nameDOBhomephone7                    int64
nameDOBhomephone14                   int64
nameDOBhomephone30                   int64
fulladdresshomephone0                int64
fulladdresshomephone1                int64
fulladdresshomephone3                int64
fulladdresshomephone7                int64
fulladdresshomephone14               int64
fulladdresshomephone30               int64
fulladdressnameDOB0                  int64
fulladdressnameDOB1                  int64
fulladdressnameDOB3                  int64
fulladdressnameDOB7                  int64
fulladdressnameDOB14                 int64
fulladdressnameDOB30                 int64
Length: 102, dtype: object

In [44]:
#data2.describe().transpose()

In [22]:
data3 = data2.fillna(365)

In [46]:
new = pd.merge(data3,dataFraudLNew,on = 'record')

In [49]:
new.tail(5)

,record,diff_date.ssn,diff_date.fulladdress,diff_date.nameDOB,diff_date.homephone,diff_date.ssn_fulladdress,diff_date.ssn_firstname,diff_date.ssn_lastname,diff_date.ssn_nameDOB,diff_date.ssn_homephone,...,fulladdresshomephone7,fulladdresshomephone14,fulladdresshomephone30,fulladdressnameDOB0,fulladdressnameDOB1,fulladdressnameDOB3,fulladdressnameDOB7,fulladdressnameDOB14,fulladdressnameDOB30,fraud_label
999970,999971,357.0,357.0,357.0,47.0,357.0,357.0,357.0,357.0,357.0,...,1,1,1,1,1,1,1,1,1,0
999971,999972,365.0,365.0,365.0,6.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999972,999973,28.0,28.0,28.0,0.0,28.0,28.0,28.0,28.0,28.0,...,1,1,2,1,1,1,1,1,2,0
999973,999974,365.0,365.0,365.0,2.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,1
999974,999975,33.0,33.0,33.0,8.0,33.0,33.0,33.0,33.0,33.0,...,1,1,1,1,1,1,1,1,1,0
999975,999976,266.0,266.0,266.0,2.0,266.0,266.0,266.0,266.0,266.0,...,1,1,1,1,1,1,1,1,1,0
999976,999977,365.0,365.0,365.0,8.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999977,999978,365.0,365.0,365.0,0.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999978,999979,365.0,365.0,365.0,23.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999979,999980,64.0,64.0,64.0,1.0,64.0,64.0,64.0,64.0,64.0,...,1,1,1,1,1,1,1,1,1,0
999980,999981,365.0,365.0,365.0,13.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999981,999982,365.0,365.0,365.0,3.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999982,999983,91.0,365.0,365.0,11.0,365.0,91.0,91.0,365.0,91.0,...,1,1,1,1,1,1,1,1,1,0
999983,999984,327.0,327.0,327.0,3.0,327.0,327.0,327.0,327.0,327.0,...,1,1,1,1,1,1,1,1,1,0
999984,999985,365.0,365.0,365.0,11.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999985,999986,365.0,365.0,365.0,18.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999986,999987,365.0,365.0,365.0,3.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999987,999988,365.0,365.0,365.0,13.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999988,999989,140.0,178.0,178.0,32.0,365.0,140.0,140.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999989,999990,365.0,365.0,365.0,0.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999990,999991,365.0,365.0,365.0,1.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999991,999992,365.0,365.0,365.0,0.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999992,999993,141.0,141.0,141.0,18.0,141.0,141.0,141.0,141.0,141.0,...,1,1,1,1,1,1,1,1,1,0
999993,999994,365.0,365.0,365.0,1.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999994,999995,365.0,365.0,365.0,3.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999995,999996,365.0,365.0,365.0,13.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999996,999997,365.0,365.0,365.0,0.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999997,999998,365.0,365.0,365.0,1.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999998,999999,365.0,365.0,365.0,2.0,365.0,365.0,365.0,365.0,365.0,...,1,1,1,1,1,1,1,1,1,0
999999,1000000,47.0,47.0,47.0,6.0,47.0,47.0,47.0,47.0,47.0,...,1,1,1,1,1,1,1,1,1,0

In [51]:
new.isnull().sum().sum()

0

In [52]:
new.to_csv("FinalCleanedVariablesNoNa.csv")